<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hopes</title>
</head>

<body>
    <h1>Donate For Gaza</h1>

    <form action="/pay" method="POST">
        <label for="email">In need Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount"><br><br>
        <!-- <input type="submit" value="Donate"> -->
        <button type="submit">Donate</button>
    </form>

    <!-- <form action="/pay" method="post">
        Amount:<input type="text" name="amount"> In need Email:<input type="text" name="email">

        <input type="submit" value="pay">
    </form> -->
</body>

</html>